div.logo {
  width:100%;
  margin: auto;
  position:relative;

}
form.cor{
  background-color:rgba(0,0,0,0.5);
  color: white;
  font-weight: bold;    
}
body {
  background-image: url("../view/telas/bg.jpg");
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
}
