
/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE

========================================================  */


/* =============================================================
   GENERAL STYLES
 ============================================================ */

 @import url(http://fonts.googleapis.com/css?family=Roboto); /* FREE GOOGLE FONT */

 body {
     font-family: 'Roboto', sans-serif;
 }
 
 table tr td input[type=radio]{
   margin: auto;
   display: block;
   width: 20px;
   height: 20px;
 }
 
 .table-ajustes table{
   table-layout: fixed;
   width: 100%;
 }
 
 .table-ajustes table td{
   word-wrap: break-word;
   word-break: break-all;
 }
 
 .table-ajustes .panel-body{
   border-top: 1px solid lightgray;
 }
 
 .table-ajustes .panel-body::-webkit-scrollbar{
   width: 13px;
 }
 
 .table-ajustes .panel-body::-webkit-scrollbar-track{
   background-color: white;
 }
 
 .table-ajustes .panel-body::-webkit-scrollbar-thumb{
   background-color: lightgray;
   border: 2px solid white;
 }
 
 .td-opcao-unica button{
   width: 100%;
 }
 
 @media screen and (min-width: 767px) and (max-width: 1000px){
   #menu-top li a span{
     display: none;
   }
 }
 
 .disabled{
   pointer-events: none;
   -moz-pointer-events: none;
   -ms-pointer-events: none;
   -o-pointer-events: none;
   -webkit-pointer-events: none;
 }
 
 input.alert-danger,
 select.alert-danger,
 textarea.alert-danger{
   background-color: white !important;
 }
 
 .alert.valid{
   display: none !important;
 }
 
 .alert-close{
   display: none;
 }
 
 .alert.hidden{
   display: none;
 }
 
 .set-radius-zero {
     border-radius: 0px;
     -moz-border-radius: 0px;
     -webkit-border-radius: 0px;
 }
 
 .modal-header button.close{
   position: absolute;
   top: 20px;
   right: 20px;
 }
 
 .modal.fade.in{
   background-color: rgba(255, 255, 255, .7);
 }
 
 .content-wrapper {
     margin-top: 40px;
     min-height: 600px;
     padding-bottom: 60px;
 }
 
 .page-head-line {
     font-weight: 900;
     padding-bottom: 20px;
     border-bottom: 2px solid #333;
     text-transform: uppercase;
     color: #333;
     font-size: 20px;
     margin-bottom: 40px;
 }
 
 .btn {
     border-radius: 0px;
     -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
 }
 
 .progress {
     height: 8px;
     border-radius: 0px;
     -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
 }
 .login-icon {
     height: 60px;
 width: 60px;
 padding: 13px;
 border-radius: 50%;
 font-size: 30px;
 margin-bottom: 20px;
 color: #fff;
 text-align: center;
 cursor:pointer;
 background-color:#F0677C;
 -webkit-border-radius:50%;
     -moz-border-radius:50%;
 }
 /* =============================================================
    HEADER SECTION STYLES
  ============================================================ */
 header {
     background-color: #1B75BA;
     color: #fff;
     padding: 10px;
     text-align: right;
 }
 
 
 /* =============================================================
    LOGO SECTION STYLES
  ============================================================ */
 .left-div {
     padding-left: 30px;
     margin-top: 40px;
     margin-bottom: 30px;
 }
 
 .navbar-brand {
     width: 300px;
     padding-top: 0px;
 }
 
 /* USER SETTINGS DIV */
 .user-settings-wrapper .nav > li > a {
     position: relative;
     display: block;
     padding: 15px 18px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     height: 60px;
     width: 60px;
     background-color: #F0677C;
     color: #fff;
 }
 
 .user-settings-wrapper {
     margin-top: 10px;
 }
 
     .user-settings-wrapper li {
         display: inline-block;
     }
 
     .user-settings-wrapper .dropdown-settings {
         width: 200px;
         padding: 10px;
     }
 
     .user-settings-wrapper .nav > li > a:hover,.user-settings-wrapper .nav > li > a:focus {
         text-decoration: none;
         background-color: #C36464!important;
     }
 
     .user-settings-wrapper img {
         height: 64px;
         width: 64px;
         border: 1px solid #000000;
     }
 
     .user-settings-wrapper .dropdown-menu {
         margin: 0px 0px 0px -140px;
         border-radius: 0px!important;
         -moz-border-radius: 0px!important;
         -webkit-border-radius: 0px!important;
     }
 
     .user-settings-wrapper .btn {
         border-radius: 0px!important;
         -moz-border-radius: 0px!important;
         -webkit-border-radius: 0px!important;
     }
 
     .user-settings-wrapper .media-heading {
         padding-top: 10px;
     }
 
 /* MENU LINKS SECTION*/
 
 .menu-section {
     background-color: #263238;
 }
 
 #menu-top a {
     color: #FFF;
     text-decoration: none;
     font-weight: 500;
     padding: 10px 10px 10px 10px;
     text-transform: uppercase;
 }
 
 .menu-top-active {
     background-color: #0288D1;
 }
 
 .menu-section .nav > li > a:hover,.menu-section .nav > li > a:focus {
     background-color: #37474F!important;
 }
 
 .menu-section .dropdown-menu > li > a:hover,.menu-section .dropdown-menu > li > a:focus {
     background-color: #F0677C!important;
 }
 
 .navbar-inverse {
     background-color: #0288D1;
     border-color: transparent;
 }
 
 .navbar-toggle {
     background-color: #1B75BA;
     border: 1px solid #fff;
 }
 
 .navbar {
     margin-bottom: 0px;
 }
 /* =============================================================
    FOOTER SECTION STYLES
  ============================================================ */
 footer {
     padding: 10px;
     color: #fff;
     font-size: 12px;
     background-color: #1B75BA;
 }
 
     footer a, footer a:hover {
         color: #fff;
         text-decoration: none;
     }
 
 /*==============================================
     DASHBOARD  STYLES
  =============================================*/
 
 /* DASHBOARD ICONS */
 
 .bk-clr-one {
     background-color: #B9B739;
 }
 
 .bk-clr-two {
     background-color: #F94C4C;
 }
 
 .bk-clr-three {
     background-color: #119c7e;
 }
 
 .bk-clr-four {
     background-color: #b739b9;
 }
 
 .dashboard-div-icon {
     height: 75px;
     width: 75px;
     border: 2px solid #fff;
     padding: 20px;
     border-radius: 50%;
     -webkit-border-radius:50%;
     -moz-border-radius:50%;
     font-size: 30px;
     margin-bottom: 20px;
     color: #fff;
 }
 
 .dashboard-div-wrapper {
     border-radius: 5px;
     text-align: center;
     padding: 15px;
     color: #fff;
     margin-bottom: 50px;
 }
 
     .dashboard-div-wrapper .progress {
         height: 2px;
     }
 
 /* NOTICE BOARD */
 
 
 .notice-board .panel {
     border-radius: 0px;
     -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
 }
 
 .notice-board ul {
     padding-left: 0px;
     list-style: none;
 }
 
 .notice-board li {
     padding: 10px;
     border-bottom: 1px solid #E5E5E5;
 }
 
     .notice-board li span {
         margin-right: 10px;
         border: 1px solid #DBDBDB;
         padding: 5px;
     }
 
     .notice-board li a, li a:hover {
         text-decoration: none;
         color: #000;
     }
 
 /* SOCIAL BUTTONS */
 .btn-social {
     color: white;
     opacity: 0.8;
 }
 
     .btn-social:hover {
         color: white;
         opacity: 1;
         text-decoration: none;
     }
 
 .btn-facebook {
     background-color: #3b5998;
 }
 
 .btn-twitter {
     background-color: #00aced;
 }
 
 .btn-linkedin {
     background-color: #0e76a8;
 }
 
 .btn-google {
     background-color: #c32f10;
 }
 
 .opcoes-reserva div input{
     font-weight: bold;
 }
 
 .opcoes-reserva-turno .radio-inline{
     margin-right: 5px;
 }
 
 .reserva-detalhes{
     margin-top: 5px;
     margin-left: 5%;
 }
 
 .tabela{
     margin-left: 5%;
 }
 